<h2 mat-dialog-title>{{ isEditMode ? 'Sửa vai trò' : 'Tạo vai trò mới' }}</h2>
    <mat-dialog-content>
      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tên vai trò</mat-label>
          <input matInput formControlName="roleName" required>
          <mat-error *ngIf="roleForm.get('roleName')?.hasError('required')">
            Vui lòng nhập tên vai trò
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mô tả</mat-label>
            <input matInput formControlName="description" required>
            <mat-error *ngIf="roleForm.get('description')?.hasError('required')">
              Vui lòng nhập mô tả của vai trò
            </mat-error>
        </mat-form-field>
    
        <!-- Thêm phần chọn và hiển thị roles -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Chọn quyền</mat-label>
          <mat-select formControlName="permissionNames" multiple>
            <mat-option *ngFor="let permission of availablePermissions" [value]="permission.permissionName">
              {{ permission.permissionName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
        <!-- Hiển thị roles đã chọn với nút xóa -->
        <div class="selected-permissions" *ngIf="roleForm.get('permissionNames')?.value?.length">
          <h4>Quyền đã chọn:</h4>
          <div class="role-chip" *ngFor="let permission of roleForm.get('permissionNames')?.value">
            <span>{{ permission }}</span>
            <button mat-icon-button color="warn" (click)="removePermission(permission)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Hủy</button>
      <button mat-raised-button color="primary" [disabled]="roleForm.invalid" (click)="onSubmit()">
        {{ isEditMode ? 'Cập nhật' : 'Tạo' }}
      </button>
    </mat-dialog-actions>