<div class="home-container">
    <app-sidebar [isSidebarVisible]="isSidebarVisible"></app-sidebar>
    
    <div class="content" [style.margin-left]="isSidebarVisible ? '250px' : '0'">
      <div class="no-playlists" *ngIf="playlists.length === 0">
        <h3>Không có danh sách playlist</h3>
      </div>
      <div class="song-list" *ngIf="playlists.length > 0">
        <div class="selected-genres">
          <button 
            mat-stroked-button 
            class="selected-genre-btn" 
            *ngFor="let genre of selectedGenres" 
            (click)="removeGenre(genre)"
          >
            {{ genre }}
            <mat-icon class="remove-icon">close</mat-icon>
          </button>
        </div>
        <div class="sort-container">
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'uploadDate'}" 
            (click)="toggleSort('uploadDate')"
          >
            Upload Date
            <mat-icon>{{ isUploadDateAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'title'}" 
            (click)="toggleSort('title')"
          >
            Title
            <mat-icon>{{ isTitleAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'artist'}" 
            (click)="toggleSort('artist')"
          >
            Artist
            <mat-icon>{{ isArtistAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
  
          <mat-form-field  >
            <mat-label>Lọc theo thể loại</mat-label>
            <mat-select [(ngModel)]="selectedGenres" multiple (selectionChange)="onGenreSelectionChange($event)">
              <mat-select-trigger>
                
              </mat-select-trigger>
              <mat-option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>

        <div class="playlist-container">   
            <mat-label>Danh sách playlist</mat-label> 
            <div class="playlist-buttons-wrapper">
              <button class="scroll-btn left" (click)="scrollLeft()" [disabled]="currentPage === 0">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div class="playlist-buttons">
                <button 
                  mat-button 
                  class="playlist-btn" 
                  *ngFor="let playlist of playlistsDisplayed" 
                  (click)="selectPlaylist(playlist); $event.stopPropagation()"
                  [ngClass]="{'active': selectedPlaylist?.playlistId === playlist.playlistId}"
                >
                  <!-- <div class="playlist-info">
                    <span class="playlist-name">{{ playlist.playlistName }}</span>
                    <span class="playlist-date">Created: {{ formatDate(playlist.createdDate) }}</span>
                  </div> -->
                  <div class="playlist-info">
                    <ng-container *ngIf="editingPlaylist?.playlistId === playlist.playlistId; else normalView">
                      <input 
                        #editInput
                        type="text" 
                        class="edit-playlist-name" 
                        [(ngModel)]="tempPlaylistName" 
                        (keyup.enter)="savePlaylistName(playlist)" 
                        (keyup.escape)="cancelEdit()"
                        (click)="$event.stopPropagation()"
                        
                      >
                    </ng-container>
                    <ng-template #normalView>
                      <span class="playlist-name">{{ playlist.playlistName }}</span>
                      <span class="playlist-date">Created: {{ formatDate(playlist.createdDate) }}</span>
                    </ng-template>
                  </div>
                  <div class="playlist-actions" (click)="$event.stopPropagation()">
                    <button mat-icon-button class="action-btn" matTooltip="Edit" (click)="editPlaylist(playlist)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="action-btn" matTooltip="Delete" (click)="deletePlaylist(playlist)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button class="action-btn" matTooltip="Add to Queue" (click)="addPlaylistToQueue()">
                      <mat-icon>queue_music</mat-icon>
                    </button>
                  </div>
                </button>
              </div>
              <button class="scroll-btn right" (click)="scrollRight()" [disabled]="isLastPage()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
        </div>

        <div *ngIf="selectedPlaylist && songs.length === 0 && !isLoading; else songContent">
          <div class="no-songs">
            <h3>Không có bài hát trong playlist này</h3>
          </div>
        </div>
        <ng-template #songContent>
          <div class="song-container" *ngIf="songs.length > 0">
            <mat-card 
              *ngFor="let song of songs" 
              class="song-card"
            >
              <div class="song-button" (click)="playSong(song)">
                <img *ngIf="song.songImage" [src]="song.songImage" alt="Song Image" class="song-image" />
            
                <div class="song-info">
                  <mat-card-title class="song-title">{{ song.title }}</mat-card-title>
                  <mat-card-subtitle class="song-artist">{{ song.artist }}</mat-card-subtitle>
                  <mat-card-subtitle class="user-upload">uploaded by {{ song.userName || 'Unknown User' }}</mat-card-subtitle>
                  <mat-card-subtitle class="uploadDate">{{ formatDate(song.uploadDate)}}</mat-card-subtitle>
                </div>
            
                <div class="song-actions" (click)="$event.stopPropagation()">
                  <button mat-icon-button class="action-btn" (click)="deleteFromPlaylist(song)">
                    <mat-icon>playlist_remove</mat-icon>
                  </button>
                  <button mat-icon-button class="action-btn" *ngIf="likedSongIds.includes(song.songId.toString())" (click)="unlikeSong(song)">
                    <mat-icon>favorite</mat-icon> <!-- Biểu tượng khi đã thích -->
                  </button>
                  <button mat-icon-button class="action-btn" *ngIf="!likedSongIds.includes(song.songId.toString())" (click)="likeSong(song)">
                    <mat-icon>favorite_border</mat-icon> <!-- Biểu tượng khi chưa thích -->
                  </button>
                  <button mat-icon-button class="action-btn" (click)="downloadSong(song)">
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
              </div>
    
              <div class="genres-container">
                <ng-container *ngIf="song.genresName">
                  <button 
                    mat-button 
                    class="genre-btn" 
                    *ngFor="let name of song.genresName.split(',')" 
                    (click)="onGenreClick(name.trim())"
                    [ngClass]="{'selected': selectedGenres.includes(name.trim())}"
                  >
                    {{ name.trim() }}
                  </button>
                </ng-container>
              </div>
            </mat-card>
          </div>
    
          <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="40"></mat-spinner>
            <p>Đang tải...</p>
          </div>
    
          <app-queue *ngIf="showQueue"></app-queue>
        </ng-template>
        
      </div>
      <ng-template #noSongsTemplate>
        <div class="no-songs">
          <h3>Không có danh sách phát</h3>
        </div>
      </ng-template>
    </div>
  </div>