<div class="container">
    <h2>Đặt lại mật khẩu</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">Mật khẩu mới</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="newPassword"
          name="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirm-password">Xác nhận mật khẩu</label>
        <input
          type="password"
          id="confirm-password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <p *ngIf="confirmPassword && newPassword !== confirmPassword" class="error">
          Mật khẩu xác nhận không khớp
        </p>
      </div>
      <button
        type="submit"
        [disabled]="!newPassword || newPassword !== confirmPassword"
      >
        Đặt lại mật khẩu
      </button>
    </form>
    <!-- <p *ngIf="message" class="success">{{ message }}</p> -->
    <p *ngIf="message" class="success">
        {{ message }}<br />
        Đang chuyển về trang đăng nhập...
      </p>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
  