<div class="header-container">
    <h1 class="table-title">Quản lý bài hát</h1>
    <div class="header-bottom">
        <div class="search-container">
            <mat-form-field appearance="outline" class="search-input">
                <mat-label>Tìm kiếm bài hát</mat-label>
                <input matInput [(ngModel)]="searchKeyword" (input)="onSearchChange($event)" placeholder="Nhập bài hát, nghệ sĩ">
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="status-select">
            <mat-label>Trạng thái</mat-label>
            <mat-select [(value)]="status" (selectionChange)="onStatusChange($event.value)">
              <mat-option *ngFor="let statusOption of statusOptions" [value]="statusOption">
                {{ statusOption }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>

<div class="table-container">
    <table mat-table [dataSource]="songUploads" class="mat-elevation-z8">
        <!-- Upload ID -->
        <ng-container matColumnDef="uploadId">
          <th mat-header-cell *matHeaderCellDef>Upload ID</th>
          <td mat-cell *matCellDef="let song">{{song.uploadId}}</td>
        </ng-container>
      
        <!-- Title -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let song">{{song.songDto.title}}</td>
        </ng-container>
      
        <!-- Artist -->
        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef>Artist</th>
          <td mat-cell *matCellDef="let song">{{song.songDto.artist}}</td>
        </ng-container>
      
        <!-- File Song ID -->
        <ng-container matColumnDef="fileSongId">
          <th mat-header-cell *matHeaderCellDef>File Song ID</th>
          <td mat-cell *matCellDef="let song">{{song.songDto.fileSongId}}</td>
        </ng-container>
      
        <!-- Song Image -->
        <ng-container matColumnDef="songImage">
          <th mat-header-cell *matHeaderCellDef>Song Image</th>
          <td mat-cell *matCellDef="let song">
            <img *ngIf="song.songDto.songImage" [src]="song.songDto.songImage" alt="songImage" style="max-width: 50px;">
              <span *ngIf="!song.songDto.songImage">Không có</span>
            </td>
        </ng-container>
      
        <!-- Upload Date -->
        <ng-container matColumnDef="uploadDate">
          <th mat-header-cell *matHeaderCellDef>Upload Date</th>
          <td mat-cell *matCellDef="let song">{{formatDate(song.uploadDate)}}</td>
        </ng-container>
      
        <!-- User Name -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let song">{{song.userName}}</td>
        </ng-container>
      
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let song">
            <div *ngIf="getSongStatus() === 'PENDING' || getSongStatus() === 'UNDER_REVIEW'">
                <button mat-raised-button color="primary" 
                  (click)="updateSongStatus(song.uploadId, 'APPROVED')">
                  Approve
                </button>
                <button mat-raised-button color="warn" style="margin-left: 8px;" 
                (click)="updateSongStatus(song.uploadId, 'REJECTED')">
                  Reject
                </button>
              </div>
      
              <!-- Trạng thái REJECTED: Hiển thị 1 nút -->
              <button mat-raised-button color="accent" *ngIf="getSongStatus() === 'REJECTED' || getSongStatus() === 'REVOKED'" 
                      (click)="updateSongStatus(song.uploadId, 'UNDER_REVIEW')">
                Review
              </button>
          </td>
        </ng-container>
      
        <!-- Header và Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>