<header class="header">
  <button mat-icon-button (click)="toggleSidebar()" class="sidebar-toggle">
    <mat-icon>{{ isSidebarVisible ? 'chevron_left' : 'menu' }}</mat-icon>
  </button>
  <div class="logo">My Website</div>
  <div class="search-container">
      <mat-form-field appearance="outline" class="search-input">
          <input matInput [(ngModel)]="searchKeyword" (input)="onSearchChange($event)" placeholder="Nhập thông tin tìm kiếm">
      </mat-form-field>
      <mat-form-field class="search-select" appearance="outline">
        <mat-select [(value)]="selected" (selectionChange)="onTypeChange()">
          <mat-option value="title">Bài hát</mat-option>
          <mat-option value="artist">Nghệ sĩ</mat-option>
          <mat-option value="username">Người đăng</mat-option>
          <mat-option value="albumNames">Album</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="user-info">
    <!-- Nếu đã đăng nhập, hiển thị tên người dùng và dropdown -->
    <ng-container *ngIf="(user$ | async) as user; else loginTemplate">
      <div class="dropdown" 
           (mouseenter)="showDropdownMenu()" 
           (mouseleave)="hideDropdownWithDelay()">
        <div class="avatar-container">
          <img *ngIf="user.avatar" [src]="user.avatar" alt="Avatar" class="avatar">
          <span class="tooltip">{{ user.userName }}</span>
        </div>

        <!-- Dropdown menu -->
        <ul class="dropdown-menu" *ngIf="showDropdown" 
            (mouseenter)="cancelHideDropdown()" 
            (mouseleave)="hideDropdownWithDelay()">
          <li (click)="goToProfile()">Profile</li>
          <li *ngIf="isAdmin(user)" (click)="goToAdmin()">Admin</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </ng-container>

    <!-- Nếu chưa đăng nhập, hiển thị nút Login -->
    <ng-template #loginTemplate>
      <button class="login-btn" (click)="goToLogin()">Login</button>
    </ng-template>
  </div>
</header>