.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e2d;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-weight: bold;
  }
  
  .login-btn {
    background-color: #ff4757;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      background-color: #e84118;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  