<header class="header">
  <div class="logo">My Website</div>
  <div class="search-container">
      <mat-form-field appearance="outline" class="search-input">
          <mat-label>Tìm kiếm bài hát</mat-label>
          <input matInput [(ngModel)]="searchKeyword" (input)="onSearchChange($event)" placeholder="Nhập bài hát, nghệ sĩ">
      </mat-form-field>
  </div>
  <div class="user-info">
    <!-- Nếu đã đăng nhập, hiển thị tên người dùng và dropdown -->
    <ng-container *ngIf="(user$ | async) as user; else loginTemplate">
      <div class="dropdown" 
           (mouseenter)="showDropdownMenu()" 
           (mouseleave)="hideDropdownWithDelay()">
        <span class="username">
          {{ user.userName }}
          <span class="arrow-down"></span>
        </span>

        <!-- Dropdown menu -->
        <ul class="dropdown-menu" *ngIf="showDropdown" 
            (mouseenter)="cancelHideDropdown()" 
            (mouseleave)="hideDropdownWithDelay()">
          <li (click)="goToProfile()">Profile</li>
          <li *ngIf="isAdmin(user)" (click)="goToAdmin()">Admin</li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </ng-container>

    <!-- Nếu chưa đăng nhập, hiển thị nút Login -->
    <ng-template #loginTemplate>
      <button class="login-btn" (click)="goToLogin()">Login</button>
    </ng-template>
  </div>
</header>