<div class="home-container">
  <app-sidebar [isSidebarVisible]="isSidebarVisible"></app-sidebar>
  
  <div class="content" [style.margin-left]="isSidebarVisible ? '250px' : '0'">
    <div class="song-list">
      <div class="selected-genres">
        <button 
          mat-stroked-button 
          class="selected-genre-btn" 
          *ngFor="let genre of selectedGenres" 
          (click)="removeGenre(genre)"
        >
          {{ genre }}
          <mat-icon class="remove-icon">close</mat-icon>
        </button>
      </div>
      <div class="sort-container">
        <button 
          mat-button 
          class="sort-btn" 
          [ngClass]="{'active': currentSortField === 'uploadDate'}" 
          (click)="toggleSort('uploadDate')"
        >
          Upload Date
          <mat-icon>{{ isUploadDateAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        </button>
        <button 
          mat-button 
          class="sort-btn" 
          [ngClass]="{'active': currentSortField === 'title'}" 
          (click)="toggleSort('title')"
        >
          Title
          <mat-icon>{{ isTitleAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        </button>
        <button 
          mat-button 
          class="sort-btn" 
          [ngClass]="{'active': currentSortField === 'artist'}" 
          (click)="toggleSort('artist')"
        >
          Artist
          <mat-icon>{{ isArtistAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        </button>

        <mat-form-field  >
          <mat-label>Lọc theo thể loại</mat-label>
          <mat-select [(ngModel)]="selectedGenres" multiple (selectionChange)="onGenreSelectionChange($event)">
            <mat-select-trigger>
              <!-- {{ selectedGenres.length }} genre{{ selectedGenres.length > 1 ? 's' : '' }} selected -->
            </mat-select-trigger>
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="song-container">
        <mat-card 
          *ngFor="let song of songs" 
          class="song-card"
        >
          <div class="song-button" (click)="playSong(song)">
            <img *ngIf="song.songImage" [src]="song.songImage" alt="Song Image" class="song-image" />
        
            <div class="song-info">
              <mat-card-title class="song-title">{{ song.title }}</mat-card-title>
              <mat-card-subtitle class="song-artist">{{ song.artist }}</mat-card-subtitle>
              <mat-card-subtitle class="user-upload">uploaded by {{ song.userName || 'Unknown User' }}</mat-card-subtitle>
              <mat-card-subtitle class="uploadDate">{{ formatDate(song.uploadDate)}}</mat-card-subtitle>
            </div>
        
            <div class="song-actions" (click)="$event.stopPropagation()">
              <button mat-icon-button class="action-btn" *ngIf="isLoggedIn" (click)="addToPlaylist(song)">
                <mat-icon>playlist_add</mat-icon>
              </button>
              <!-- Kiểm tra nếu songId nằm trong likedSongIds thì hiển thị nút Unlike, ngược lại hiển thị nút Like -->
              <button mat-icon-button class="action-btn" *ngIf="isLoggedIn && likedSongIds.includes(song.songId.toString())" (click)="unlikeSong(song)">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button class="action-btn" *ngIf="isLoggedIn && !likedSongIds.includes(song.songId.toString())" (click)="likeSong(song)">
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button mat-icon-button class="action-btn" (click)="downloadSong(song)">
                <mat-icon>download</mat-icon>
              </button>
            </div>
          </div>

          <div class="genres-container">
            <ng-container *ngIf="song.genresName">
              <button 
                mat-button 
                class="genre-btn" 
                *ngFor="let name of song.genresName.split(',')" 
                (click)="onGenreClick(name.trim())"
                [ngClass]="{'selected': selectedGenres.includes(name.trim())}"
              >
                {{ name.trim() }}
              </button>
            </ng-container>
          </div>
        </mat-card>
      </div>

      <div class="loading" *ngIf="isLoading">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Đang tải...</p>
      </div>

      <app-queue *ngIf="showQueue"></app-queue>
    </div>
  </div>
</div>