<div class="song-list">
  <div class="song-container">
    <mat-card *ngFor="let song of songs" class="song-card">
      <button mat-button (click)="playSong(song)">
        <mat-card-header>
          <mat-card-title>{{ song.title }}</mat-card-title>
          <mat-card-subtitle>{{ song.artist }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="song.songImage" [src]="song.songImage" alt="Song Image" />
      </button>
    </mat-card>
  </div>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>