<div class="header-container">
    <h1 class="table-title">Quản lý tài khoản người dùng</h1>
    <div class="header-bottom">
        <div class="search-container">
            <mat-form-field appearance="outline" class="search-input">
                <mat-label>Tìm kiếm người dùng</mat-label>
                <input matInput [(ngModel)]="searchKeyword" (input)="onSearchChange($event)" placeholder="Nhập tên hoặc email">
            </mat-form-field>
        </div>
        <div class="button-wrapper">
            <button mat-raised-button color="primary" class="create-button" (click)="createUser()">Tạo tài khoản mới</button>
        </div>
    </div>
</div>


<div class="user-table-container">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{ user.userId }} </td>
      </ng-container>
  
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Tên người dùng </th>
        <td mat-cell *matCellDef="let user"> {{ user.userName }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>
  
      <ng-container matColumnDef="accountType">
        <th mat-header-cell *matHeaderCellDef> Loại tài khoản </th>
        <td mat-cell *matCellDef="let user"> {{ user.accountType }} </td>
      </ng-container>

      <ng-container matColumnDef="userAvatar">
        <th mat-header-cell *matHeaderCellDef> Ảnh đại diện </th>
        <td mat-cell *matCellDef="let user">
          <img *ngIf="user.avatar" [src]="user.avatar" alt="Avatar" style="max-width: 50px;">
          <span *ngIf="!user.avatar">Không có</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Vai trò </th>
        <td mat-cell *matCellDef="let user"> {{ getRolesDisplay(user) }} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Ngày tạo</th>
        <td mat-cell *matCellDef="let user"> {{ formatDate(user.createdDate) }} </td>
     </ng-container>

     <ng-container matColumnDef="grantedDate">
        <th mat-header-cell *matHeaderCellDef> Ngày cấp</th>
        <td mat-cell *matCellDef="let user"> {{ formatDate(user.roles[0].grantedDate) }} </td>
    </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Hành động </th>
        <td mat-cell *matCellDef="let user">
          <button mat-raised-button color="warn" (click)="deleteUser(user.userId)">Xóa</button>
          <button mat-raised-button color="primary" (click)="editUser(user.userId)">Sửa</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  