footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    z-index: 1000;  /* Đảm bảo footer hiển thị trên các phần tử khác */
  }
  