<div class="home-container">
    <app-sidebar [isSidebarVisible]="isSidebarVisible"></app-sidebar>
    
    <div class="content" [style.margin-left]="isSidebarVisible ? '250px' : '0'">
      <div class="no-albums" *ngIf="albums.length === 0">
        <h3>Không có album nào</h3>
      </div>
      <div class="song-list" *ngIf="albums.length > 0">
        <div class="selected-genres">
          <button 
            mat-stroked-button 
            class="selected-genre-btn" 
            *ngFor="let genre of selectedGenres" 
            (click)="removeGenre(genre)"
          >
            {{ genre }}
            <mat-icon class="remove-icon">close</mat-icon>
          </button>
        </div>
        <div class="sort-container">
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'uploadDate'}" 
            (click)="toggleSort('uploadDate')"
          >
            Upload Date
            <mat-icon>{{ isUploadDateAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'title'}" 
            (click)="toggleSort('title')"
          >
            Title
            <mat-icon>{{ isTitleAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
          <button 
            mat-button 
            class="sort-btn" 
            [ngClass]="{'active': currentSortField === 'artist'}" 
            (click)="toggleSort('artist')"
          >
            Artist
            <mat-icon>{{ isArtistAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          </button>
  
          <mat-form-field  >
            <mat-label>Lọc theo thể loại</mat-label>
            <mat-select [(ngModel)]="selectedGenres" multiple (selectionChange)="onGenreSelectionChange($event)">
              <mat-select-trigger>
                
              </mat-select-trigger>
              <mat-option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </div>

        <div class="album-container">   
            <mat-label>Danh sách album</mat-label>        
            <div class="album-buttons-wrapper">
              <button class="scroll-btn left" (click)="scrollLeft()" [disabled]="currentPage === 0">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div class="album-buttons">
                <button 
                  mat-button 
                  class="album-btn" 
                  *ngFor="let album of albumsDisplayed" 
                  (click)="selectAlbum(album); $event.stopPropagation()"
                  [ngClass]="{'active': selectedAlbum?.albumId === album.albumId}"
                >
                  <!-- <ng-container *ngIf="editingAlbum?.albumId === album.albumId; else normalView">
                    <div class="edit-container">
                      <input 
                        #editInput
                        type="text" 
                        class="edit-album-name" 
                        [(ngModel)]="tempAlbumName" 
                        (keyup.enter)="saveAlbumName(album)" 
                        (keyup.escape)="cancelEdit()"
                        (click)="$event.stopPropagation()"
                      >
                    </div>
                  </ng-container> -->
                  <!-- <ng-template #normalView> -->
                    <div class="album-content">
                      <div class="album-image-container">
                        <img *ngIf="album.albumImage" [src]="album.albumImage" alt="Album Image" class="album-image" />
                      </div>
                      <div class="album-info">
                        <span class="album-name">{{ album.albumName }}</span>
                        <span class="album-date">Created: {{ formatDate(album.createdDate) }}</span>
                      </div>
                      <div class="album-actions" (click)="$event.stopPropagation()">
                        <button mat-icon-button class="action-btn" matTooltip="Edit" (click)="editAlbum(album)">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="action-btn" matTooltip="Delete" (click)="deleteAlbum(album)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button class="action-btn" matTooltip="Add to Queue" (click)="addAlbumToQueue()">
                          <mat-icon>queue_music</mat-icon>
                        </button>
                      </div>
                    </div>
                  <!-- </ng-template> -->
                </button>
              </div>
              <button class="scroll-btn right" (click)="scrollRight()" [disabled]="isLastPage()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>

        <div *ngIf="selectedAlbum && songs.length === 0 && !isLoading; else songContent">
          <div class="no-songs">
            <h3>Không có bài hát trong album này</h3>
          </div>
        </div>
        <ng-template #songContent>
          <div class="song-container" *ngIf="songs.length > 0">
            <mat-card 
              *ngFor="let song of songs" 
              class="song-card"
            >
              <div class="song-button" (click)="playSong(song)">
                <img *ngIf="song.songImage" [src]="song.songImage" alt="Song Image" class="song-image" />
            
                <div class="song-info">
                  <mat-card-title class="song-title">{{ song.title }}</mat-card-title>
                  <mat-card-subtitle class="song-artist">{{ song.artist }}</mat-card-subtitle>
                  <mat-card-subtitle class="song-album">Album: {{ song.albumNames || 'Không có' }}</mat-card-subtitle>
                  <mat-card-subtitle class="user-upload">uploaded by {{ song.userName || 'Unknown User' }}</mat-card-subtitle>
                  <mat-card-subtitle class="uploadDate">{{ formatDate(song.uploadDate)}}</mat-card-subtitle>
                </div>
            
                <div class="song-actions" (click)="$event.stopPropagation()">
                  <button mat-icon-button class="action-btn" (click)="deleteFromAlbum(song)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  <button mat-icon-button class="action-btn" (click)="addToPlaylist(song)">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <button mat-icon-button class="action-btn" *ngIf="likedSongIds.includes(song.songId.toString())" (click)="unlikeSong(song)">
                    <mat-icon>favorite</mat-icon> <!-- Biểu tượng khi đã thích -->
                  </button>
                  <button mat-icon-button class="action-btn" *ngIf="!likedSongIds.includes(song.songId.toString())" (click)="likeSong(song)">
                    <mat-icon>favorite_border</mat-icon> <!-- Biểu tượng khi chưa thích -->
                  </button>
                  <button mat-icon-button class="action-btn" (click)="downloadSong(song)">
                    <mat-icon>download</mat-icon>
                  </button>
                </div>
              </div>
    
              <div class="genres-container">
                <ng-container *ngIf="song.genresName">
                  <button 
                    mat-button 
                    class="genre-btn" 
                    *ngFor="let name of song.genresName.split(',')" 
                    (click)="onGenreClick(name.trim())"
                    [ngClass]="{'selected': selectedGenres.includes(name.trim())}"
                  >
                    {{ name.trim() }}
                  </button>
                </ng-container>
              </div>
            </mat-card>
          </div>
    
          <div class="loading" *ngIf="isLoading">
            <mat-spinner diameter="40"></mat-spinner>
            <p>Đang tải...</p>
          </div>
    
          
        </ng-template>
        
      </div>
      <ng-template #noSongsTemplate>
        <div class="no-songs">
          <h3>Không có danh sách phát</h3>
        </div>
      </ng-template>
    </div>
    <app-queue *ngIf="showQueue"></app-queue>
  </div>